body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat-bold', sans-serif;
    
}

h3{
    font-size: 3rem;
}

p{
    color: #8f8f8f;
}



#title{
    
}

.big-heading{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 3rem;

}


.container-fluid{
    padding: 3% 15% 12% 15%;
}


/***Section***/

.coloured-section{
    background-color: #ff4c68;
    color: #fff;

}

.white-section{
    background-color: #fff;

}



/*Navigation Bar*/

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar{
    padding: 0 0 4.5rem;
}

.nav-item{
    padding: 0px 18px;
}




.download-button{
    margin: 5% 3% 5% 0%;
}


.title-image{
    width: 40%;
    transform: rotate(25deg);
    position: absolute;
    right: 40%;
    }

#features{
    padding: 7% 15%;
    
    position: relative;
    z-index: 1;
}

.feature-box{
    text-align: center;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}


/*Testimnonial section*/

#testimonial{
    
    text-align: center;
    
}

.testimonial-text{
    line-height: 1.5;
    font-size: 3rem;
}

.carousel-item{
    padding: 7% 15%;
}


.testimonal-image{
    width: 20%;
    border-radius: 100%;
}

#press{
    background-color:#ff4c68;
    text-align: center;
    padding-bottom: 3%;
}


.press-logo{
    width: 10%;
    margin: 20px 20px 50px;
}

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-col{
    padding: 3% 2%;
}

.price-text{
    line-height: 1.5;
    font-size: 3rem;
}

#cta{
    
    padding: 7% 15%;
    text-align: center;

}

#footer{
    padding: 7% 15%;
    text-align: center;
}

.social-icon{
    margin: 20px 10px;
}


.cta-heading{ 
    font-family: "montserat-black";
    font-size: 3.5rem;
    line-height: 1.5;
}





@media (max-width: 1028px){
    .title-image{
        position: static;
        transform: rotate(0);
    }

    #title{
        text-align: center; 
    }
}